<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Master of Computer Science</h1>
            <span>Dalhousie University</span>
            <span><address>Halifax, NS, Canada</address><time>2012.09 to 2014.08</time></span>
        </header>
        <p>
            <em>Thesis: Scalable Real-time OLAP Systems for the Cloud</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Bachelor of Computer Science</h1>
            <span>Harbin Institute of Technology</span>
            <span><address>Harbin, China</address><time>2008.09 to 2012.07</time></span>
        </header>
        <p>
            <em>A Massive Log Data Storage and Searching System.</em>
        </p>
    </article>
</section>
