<section class="thirteen columns">
    <h1>Work Experience</h1>
    <article>
        <header>
            <h1>Software Engineer</h1>
            <span><address>Halifax, NS, Canada</address><time>2014.12 to Present</time></span>
        </header>
        <p>Lorem ipsum dolor sit amet, his et viris petentium philosophia,
            at vix debitis deleniti. At vis velit volumus alienum, agam vocent assueverit usu ex. </p>
    </article>
    <article>
        <header>
            <h1>Software Developer Intern</h1>
            <span><address>Beijing, China</address><time>2011.07 to 2012.07</time></span>
        </header>
        <p>Qui bonorum menandri intellegebat ex, mel quando oblique an. Et eam virtute debitis philosophia,
            unum ancillae disputationi vim in. Ipsum vidisse meliore ex eum,
            delectus tacimates conclusionemque has ei. Eam ubique cetero scribentur ne.</p>
    </article>
</section>
