<section class="thirteen columns">
    <h1>Publications</h1>
    <article>
    	<p>F. Dehne, Q. Kong, A. Rau-Chaplin, H. Zaboli, R. Zhou, “Scalable Real-Time OLAP On Cloud Architectures”, Journal of Parallel and Distributed Computing, 2014.
    	</p>
        <p>F. Dehne, Q. Kong, A. Rau-Chaplin, H. Zaboli, R. Zhou, “A Distributed Tree Data Structure For Real-Time OLAP On Cloud Architectures”, in Proc. IEEE International Conference on Big Data (IEEE BigData 2013), IEEE Comp. Soc. Dig. Library, 2013.
        </p>
    </article>
</section>
