<section class="thirteen columns">
    <h1>Professional Skills</h1>
    <article>
        <header>
            <h1>Software Engineering & Web Development</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>Java</em>, <em>C/C++</em>, <em>PHP</em> &amp; <em>Git</em>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Shell Scripts</em>, <em>Scala</em>, <em>Python</em>, <em>MySQL</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>MS SQLSERVER</em>, <em>Oracle</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Cloud Computing & Big Data Analytics</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>AWS</em>, <em>Azure</em>, <em>Apache Spark</em>, <em>Apache Mesos</em>, <em>Docker Swarm</em>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Apache Zookeeper</em>, <em>ZeroMQ</em>, <em>OpenMP</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Natural Language Processing</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>Apache Lucene</em>, <em>Elastic Search</em>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Apache Katta</em>
        </p>
    </article>
</section>
